client/node_modules/
client/package-lock.json
server/test/
server/data/
server/package-lock.json
server/node_modules/
server/generate-backend.js

generate-project.js
server/aichat-init-backend.js
server/*.ps1
other.md